.include_chk {
  margin-right: 10px;
  display: inline-block;
  background-color: rgba(75, 236, 75, 0.644);
}

.exclude_chk { 
  display:inline-block;
  margin-left: 10px;
  background-color: rgba(255, 0, 0, 0.418);
}

.Search_box {
  position: absolute;
  top: 5%;
  width: 90%;
  text-align: center;
}

.SERP {
  position: absolute;
  top: 8%;
  left: 32%;
  width: 90%;
}